li{
    font-family: $poppins;
    font-weight: $fw-bold;
    color: $white;
    font-size: $medium;
}


h6{
    font-family: $poppins;
    font-weight: $fw-bold;
    color: $white;
    font-size: $medium;
}

h1{
    font-family: $ubuntu;
    font-weight: $fw-bold;
    color: $black;
    font-size: $xxx-large;
}

p{
    font-family: $ubuntu;
    font-weight: $fw-regular;
    color: $black;
    font-size: $small;
    line-height: 1.5;
}

h2{
    font-family: $ubuntu;
    font-weight: $fw-bold;
    color: $black;
    font-size: $large;
}

h4{
    font-family: $poppins;
    font-weight: $fw-regular;
    color: $white;
    font-size: $medium;
}

h3{
    font-family: $ubuntu;
    font-weight: $fw-bold;
    color: $black;
    font-size: $large;
}

h5{
    font-family: $poppins;
    font-weight: $fw-regular;
    color: $black;
    font-size: $small;
}

a{
    font-family: $poppins;
    font-weight: $fw-regular;
    font-size: $small;  
}








